<footer class="container-fluid text-center mb-0" style="background-color: #e4c179;">
  All official media and game graphics are resources of <a href="https://genshin.hoyoverse.com/en/">Genshin Impact,</a> an RPG game coprighted&copy; by Hoyoverse.<br>
  The resource used in this site qualifies under Fair Use. Said resource should also comply with Hoyoverse's <a href="https://www.hoyolab.com/article/143107">intellectual property guidelines.</a>
</footer>