<header class="container-fluid" style="background-color: #e4c179;">
  <div class="d-flex justify-content-around">
    <div class="p-2">
      <img src="https://i.imgur.com/Lod0f2c.png" style="max-width: 250px;"> <span class="h1 align-middle">Character Planner</span>
    </div>
    <div class="p-2 align-self-center">
      <a href="/">Register</a> | <a href="/">Log In</a>
      <p>Welcome, Traveller!</p>
    </div>
  </div>
</header>