<header class="container-fluid" style="background-color: #e4c179;">
  <div class="d-flex justify-content-around">
    <div class="p-2">
      <img src="https://i.imgur.com/Lod0f2c.png" style="max-width: 250px;"> <span class="h1 align-middle gen-title">Character Planner</span>
    </div>
    <div class="p-2 align-self-center">
      <% if(userDetails){ %>
      Logged in <% } else { %><a href="/users/new" class="btn btn-secondary">Register</a><%}%> | 
      <% if(userDetails){ %><form action="/sessions?_method=DELETE" method="POST"><button class="btn btn-secondary">Log Out</button></form><% } else { %><a class="btn btn-secondary" href="/sessions/new">Log In</a> <% } %>
      <p>Welcome<% if(userDetails){ %> back, <strong><%=userDetails.username%></strong>!<% } else { %>, Traveller!</p> <% } %>
    </div>
  </div>
  <div>

  </div>
</header>