<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(`../../partials/head.ejs`)%>
</head>
<body>
  <%- include(`../../partials/header.ejs`)%>
  <main class="container my-4">
    <h1>Admin Log-In</h1>
    <form action="/sessions" method="POST">
      <p>Username: <input type="text" name="username"></p>
      <p>Password: <input type="password" name="password"></p>
      <p><input type="submit" class="btn btn-primary" value="Log-In"></p>
    </form>
    <p><a href="/" class="btn btn-primary">Return to Index</a></p>
  </main>
  <%- include(`../../partials/footer.ejs`)%>
</body>
</html>