<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add new character</h1>
  <form action="/characters" method="POST">
    <p>Name: <input type="text" name="name" required></p>
    <p>Image URL: <input type="text" name="image"></p>
    <p>Talents:</p><% let maxTalent = 3;for(let i=0;i<maxTalent;i++){ %>
    <ol>
      <ul>
        <li><input type="text" name="talents[<%=i%>][talentName]" placeholder="Talent Name"></li>
        <li><input type="text" name="talents[<%=i%>][talentDesc]" placeholder="Talent Description"></li>
      </ul>
    </ol><% } %>
    <p>Resources Needed to reach Max Level:</p>
    <ol>
      <% let maxMats = 3; for(let i=0;i<maxMats;i++){ %>
          <li>Material needed: <input type="text" name="maxLevelRequirement[materials][<%=i%>][name]"></li>
          <li>Material amount: <input type="number" name="maxLevelRequirement[materials][<%=i%>][amount]"></li>
      <% } %>
      <li>Total Mora: <input type="number" name="maxLevelRequirement[mora]" placeholder="Amount of mora(money) needed"></li>
    </ol>

    <p><input type="submit" value="Submit"></p>
  </form>
  <p><a href="/"><button>Return to Index</button></a></p>
</body>
</html>